.Settings {
  background-color: #0002;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 100vh;
}

.ShortInput {
  width: 4rem;
}

.LongInput {
  width: 8rem;
}

span + input[type=text] {
  margin-left: 0.5rem;
}
